<h2>The Date: <%= @appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %></h2>
<h2>The Doctor: <%= link_to @appointment.doctor.name, @appointment.doctor %></h2>
<h2>The Patient: <%= link_to @appointment.patient.name, @appointment.patient %></h2>
